ENVIRONMENT=

DATABASE_URL=
DATABASE_NAME=
DATABASE_ROOT_PASSWORD=
DRIVER_CLASS_NAME=

TOKEN_SECRET=
TOkEN_EXPIRATION_DAYS=

# Storage configurations
STORAGE_LOCATION=
STORAGE_TYPE=
# -1 for unlimited
MAX_FILE_SIZE=